/* *{
    margin: 0;
    padding: 0;
} */
 main{
    max-width: 1440px;
    margin:0 auto;
    height:200px;

 }

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */

.display-flex{
      display:flex;

}
.dark1{
    color:#131313;
}
.dark2{
    color:#424242;
}
.dark3{
    color:#727272;
}

.explore-btn{
    height:64px;
    width:180px;
    background-color: #FF900E;
    border: none;
    border-radius: .5rem;
    color:#fff;
    
}

main>section{
    margin-top: 110px;
}


/* header background */
.bg-light{   
    background-color: rgba(255, 144, 14, 0.1);
}

/* Header Styles */

/* Navbar Styles */

.navbar{
    justify-content: space-between;
    align-items: center;
   
  

}
.navbar-title{
    /* margin-left: 30px; */
    font-weight: bold;
    font-size: 2.8rem;
}


.nav-item{
   list-style-type: none;
   margin-right: 20px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color:#424242;
    
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Content Styles */
.banner-content{
    max-width:862px;
   
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
    display: inline;
    
}

.banner-description{
    font-size: 1rem;
}
.banner-btn{
    margin-top: 20px;
    font-weight: 600;
    font-size:1.05rem;
    padding:2px 30px;
}

.banner-img{
   width:100%;
   
}


/* Main Styles */

.teams{
    align-items: center;
    
    
}



.our-features{
    margin-left:6rem;
    max-width: 530px;
    
    
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    gap:24px;
    
}


.feature-title{
    font-weight: 600;
    font-size:3rem;
    display: inline;
}

#quick{
    color:rgba(114, 114, 114, 1);
}
#our{
    color:rgba(19, 19, 19, 1);
}
#feature{
    color:rgba(255, 144, 14, 1);
}

/* Some Facts Styles */
.some-facts{
    flex-direction: column;
}

.some-facts-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 24px;
    

}
.some-facts-description{
    margin-bottom: 100px;
    margin-top: 0px;
    max-width: 542px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap:10px; */
    max-width: 1100px;
    margin-left: 50px;
    
}
main{
    box-sizing: border-box;
}
.fact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #FF900E;
    /* height:241px;
    width:241px; */
    height: 200px;
    width: 200px;
    border-radius: 8px; 
    

}
.faxt-number{
    font-weight: 600;
    font-size: 2rem;
    color:#424242 ;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.fact-name{
    font-weight: 600;
    font-size: 1.2rem;
    color: #727272;
    
}













/* Responsive Media Query */

/* Responsive Media Query For Small Display  */
@media screen  and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
        gap:10px;
    }

    .teams{
        flex-direction: column;
       
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
        
    }

    .our-features{
        margin-left: 1.2rem;
    } 
    .facts-container{
        grid-template-columns: repeat(1,1fr);
       margin: 20px auto;
       gap:10px;

    }

}


/* Responsive Media Query For Medium Display  */
@media screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin:50px auto;
    }

}






